*{
    margin: 0px;
    padding: 0px;
}
body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background: red;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    /*border-bottom: 3px dashed black;*/
}

nav{
    background: rgb(81, 50, 182);
    height: 50px;
    margin-top: 15px;
    border-bottom: 1px solid black;
}

nav ul li{ /*estilo aplicado al elemento li dentro de nav y ul */
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}
nav ul li a{ /*estilo aplicado al elemento <a> dentro de nav, ul y li */
    color: #eee;
}

.clearfix{
    clear:both;
}

#content{
    float:left;
    width: calc(80% - 80px); /*al width del 80% se le resta 80px porque por defecto si
    pones 80% se agrega el proporcional en px, (tambien se aplica abajo ".aside")*/
    min-height: 500px;
    background: green;
    padding: 40px;
    margin-top: 15px;
}

.article{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.article:first-child{ /*Aplica al primer elmento de la clase article*/
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.article h2{ /*Aplica a todos los h2 dentro de la clase article*/
    font-size: 25px;
}

aside{
    float: left;
    width: calc(20% - 20px);
    background: orange;
    min-height: 580px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}
aside h2{  
    padding-top: 20px;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 15px;
}
